<div *ngIf="dataAvailable" id="jobList">
    <div *ngFor="let job of objList;index as i" class="border border-2 border-dark p-3 my-3 col-10 mx-auto">
        <h5><u>Title:</u> {{job.job_title}}</h5>
        <p><b><u>Company:</u></b> {{job.company_name}}</p>
        <p><b><u>Description:</u></b></p>
        <div [innerHTML]="job.job_description"></div>

    </div>
    <div class="py-3 bg-primary d-flex flex-row justify-content-center align-items-center">
        <button *ngIf="pageNumber >= 1" class="border border-1 border-dark px-3 py-2 rounded"
            (click)="btnClick(this.pageNumber-1)">&lt;</button>
        <p class="mx-3 my-2">{{this.pageNumber}}</p>
        <button class="border border-1 border-dark px-3 py-2 rounded"
            (click)="btnClick(this.pageNumber+1)">&gt;</button>
    </div>
</div>