<h3 class="text-center mt-3 underline"><u>Items</u></h3>
<div *ngIf="this.itemList.length === 0; else elseBlock" class="text-center">No items yet!</div>
<ng-template #elseBlock>
    <div class="row mx-auto text-center mt-5">
        <h6 class="col-4">Name</h6>
        <h6 class="col-sm-3 col-4">Store</h6>
        <h6 class="col-sm-3 col-4">Quantity</h6>
        <hr class="col-11 mx-auto mt-3">
    </div>
    <div *ngFor="let item of itemList" class="row my-4 mx-auto text-capitalize text-center ">
        <h6 class="col-4 ">{{item.name}}</h6>
        <p class="col-sm-3 col-4">{{item.store}}</p>
        <p class="col-sm-3 col-4">{{item.quantity}}</p>
        <button class="btn btn-danger btn-sm col-sm-1 col-6 mx-auto" (click)="onClick(item)">Delete</button>
        <hr class="col-11 mx-auto mt-3">
    </div>
</ng-template>