<div class="nav bg-primary align-items-center">
  <h2 class="p-4 text-light text-sm-start text-center ">App</h2>
  <a routerLink="/" class="nav-link text-light">Add Item</a>
  <a routerLink="/items" class="nav-link text-light">View Items</a>
  <a routerLink="/jobs" class="nav-link text-light">Jobs</a>
</div>
<router-outlet></router-outlet>
<!-- <div class="container-fluid row col-12">
  <app-item-form class="col-sm-5 col-10 border rounded border-1 border-dark mx-auto my-3"
    (itemAdd)="additem($event)"></app-item-form>
  <app-items [itemList]="itemList" class="col-sm-5 col-10 mx-auto border rounded border-1 border-dark my-3"
    (itemDelete)="removeitem($event)"></app-items>
</div> -->