<h3 class="text-center mt-3"><u>Add Item</u></h3>
<form class="row g-3 my-2 mb-4" (ngSubmit)="onSubmit()">
    <div class="col-10 mx-auto">
        <label for="name" class="form-label">Item Name</label>
        <input type="text" [(ngModel)]="name" class="form-control" id="name" name="name">
    </div>
    <div class="col-10 mx-auto">
        <label for="store" class="form-label">Store Name</label>
        <input type="text" [(ngModel)]="store" class="form-control" id="store" name="store">
    </div>
    <div class="col-10 mx-auto">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="text" [(ngModel)]="quantity" class="form-control" id="quantity" name="quantity">
    </div>
    <button type="submit" class="btn btn-primary col-sm-4 col-8 mx-auto">Submit</button>
    <button type="reset" class="btn btn-primary col-sm-4 col-8 mx-auto">Reset</button>

</form>